body{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content:space-around;

}
ul li{
    padding-top: 20px;
 display: inline-block;
 margin-right: 60px;
}
.main{
    height: 85px;
}
.nav1{
    border-radius: 10px;
}
.blog:hover{
    background-color: orangered;
    height: 30px;
    width: 40px;
  border-radius: 10px;
  text-align: center;
}
.icon{
    background-color: orange;
    height: 40px;
    width: 200px;
    border-radius: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 430px;
    left: 43%;
}
.pic{
    background-image: url(logo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    opacity: 0.8;
}
legend{
    background-color: royalblue;
    width: 130px;
    height: 25px;
    border-radius: 1px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 28px;
    left:45%;
    padding-top: 4px;
}
.one{
    height: 100px;
    width: 350px;
    display: inline-block;
    text-align: center;
    padding-left: 90px;
}
.two{
    height: 100px;
    width: 350px;
    display: inline-block;
    text-align: center;
}
.three{
    height: 100px;
    width: 350px;
    display: inline-block;
    text-align: center;
}
.four{
    height: 100px;
    width: 350px;
    display: inline-block;
    text-align: center;
}
#box{
    background-color: #F7F6F9;
    width: 100%;
    height: 280px;
    padding-top: 100px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}
#div3{
    background-color:#535270;
    height: 590px;
    width: 100%;
}
tr,td{
    border: 10px solid white;
    background: grey;
}
#icon1{
    font-size: 60px;
    color: white;
    padding-left: 120px;
}
.button1{
    background-color: gray;
    font-size: 25px;
    border-radius: 10px;
    border:2px solid white ;
    color: white;
    position: absolute;
    left: 960px;
    top: 155px;
}
.button1:hover{
    background-color: royalblue;
    opacity: 0.9;
    cursor: pointer;
}
.tab{
     position: absolute;
    top:1130px;
    left: 160px;
}
.para{
    border: none;
    background-color:#535270;
}
.web{
    height: 800px;
    width: 100%;
}
.para2{
    border:none;
    background-color: white;
    width: 250px;
    height: 250px; 
  
}
#para7{
    background-color:#535270;
    width: 100%;
    height: 450px;
}
